html {
	height: 100%;
}

body {
	background-color: #333333;
	margin: 0px;
	color: #666;
	font-family: Monospace;
	font-size: 13px;
	overflow: auto;
}

canvas {
	display:block;
}

div {
	width: 920px;
	margin: auto;
}
span {
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
}
hr {
	border: 0px;
	height: 0px;
	background-color: #222;
}
img {
	border: 0;
	width: 200px;
	height: 200px;
	background-color: #000;
}
a {
	color: #aaaaaa;
}
#header {
	margin-top:30px;
	margin-bottom:30px;
}
@media all and ( max-width: 920px ) {
	div{
		width: 610px;
	}
}
@media all and ( max-width: 610px ) {
	div {
		width: 300px;
	}
}
